.door-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}

.logo {
    margin-bottom: 10px;
}

.door {
    height: 80vh;
    border: 10px solid black;
    width: 300px;
    /* background: rgba(63, 63, 63, 0.2); */
    background-image: url(C:\Users\mandar.patil\Desktop\task\dummy\uidesign\src\assets\PhotoshopExtension_Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    height: 800px;
    width: 400px;
    background: linear-gradient(18deg,
            rgba(224, 226, 231, 0.25),
            rgba(94, 94, 230, 0.25));

    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(240px) saturate(160%);
}

.door-handle {
    position: absolute;
    top: 40%;
    left: 20px;
    height: 160px;
    width: 10px;
    background-color: #000;
}